# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
.nfs*

# VSCode
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
*.egg-info/
dist/
build/
*.egg
.eggs/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# NestShare
.secret_key
nestsshare-*.zip
